/*
Syntax error: File to import not found or unreadable: bootstrap-sprockets.
              Load paths:
                /Users/john-davidwuarin/Dropbox/Workspace_Ruby/hydra
                /Users/john-davidwuarin/Dropbox/Workspace_Ruby/hydra/app/assets/stylesheets
        on line 1 of app/assets/stylesheets/custom.css.scss

1: @import "bootstrap-sprockets";
2: @import "bootstrap";
3: @import "font-awesome";
4: 
5: $nav-row-height: 4em;
6: $color1: rgba(8,17,27,1);

Backtrace:
app/assets/stylesheets/custom.css.scss:1
/Users/john-davidwuarin/.rvm/gems/ruby-2.1.2@hydra/gems/sass-3.2.19/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/john-davidwuarin/.rvm/gems/ruby-2.1.2@hydra/gems/sass-3.2.19/lib/sass/tree/import_node.rb:45:in `import'
/Users/john-davidwuarin/.rvm/gems/ruby-2.1.2@hydra/gems/sass-3.2.19/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/john-davidwuarin/.rvm/gems/ruby-2.1.2@hydra/gems/sass-3.2.19/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/john-davidwuarin/.rvm/gems/ruby-2.1.2@hydra/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:217:in `visit_import'
/Users/john-davidwuarin/.rvm/gems/ruby-2.1.2@hydra/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/john-davidwuarin/.rvm/gems/ruby-2.1.2@hydra/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/john-davidwuarin/.rvm/gems/ruby-2.1.2@hydra/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/john-davidwuarin/.rvm/gems/ruby-2.1.2@hydra/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/john-davidwuarin/.rvm/gems/ruby-2.1.2@hydra/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/john-davidwuarin/.rvm/gems/ruby-2.1.2@hydra/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/john-davidwuarin/.rvm/gems/ruby-2.1.2@hydra/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/john-davidwuarin/.rvm/gems/ruby-2.1.2@hydra/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/john-davidwuarin/.rvm/gems/ruby-2.1.2@hydra/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/john-davidwuarin/.rvm/gems/ruby-2.1.2@hydra/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/john-davidwuarin/.rvm/gems/ruby-2.1.2@hydra/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/john-davidwuarin/.rvm/gems/ruby-2.1.2@hydra/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/john-davidwuarin/.rvm/gems/ruby-2.1.2@hydra/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/john-davidwuarin/.rvm/gems/ruby-2.1.2@hydra/gems/sass-3.2.19/lib/sass/tree/root_node.rb:20:in `render'
/Users/john-davidwuarin/.rvm/gems/ruby-2.1.2@hydra/gems/sass-3.2.19/lib/sass/engine.rb:315:in `_render'
/Users/john-davidwuarin/.rvm/gems/ruby-2.1.2@hydra/gems/sass-3.2.19/lib/sass/engine.rb:262:in `render'
/Users/john-davidwuarin/.rvm/gems/ruby-2.1.2@hydra/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/Users/john-davidwuarin/.rvm/gems/ruby-2.1.2@hydra/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/john-davidwuarin/.rvm/gems/ruby-2.1.2@hydra/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:201:in `each'
/Users/john-davidwuarin/.rvm/gems/ruby-2.1.2@hydra/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/john-davidwuarin/.rvm/gems/ruby-2.1.2@hydra/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:283:in `block in watch'
/Users/john-davidwuarin/.rvm/gems/ruby-2.1.2@hydra/gems/sass-3.2.19/vendor/listen/lib/listen/multi_listener.rb:108:in `call'
/Users/john-davidwuarin/.rvm/gems/ruby-2.1.2@hydra/gems/sass-3.2.19/vendor/listen/lib/listen/multi_listener.rb:108:in `on_change'
/Users/john-davidwuarin/.rvm/gems/ruby-2.1.2@hydra/gems/sass-3.2.19/vendor/listen/lib/listen/multi_listener.rb:117:in `block in initialize_adapter'
/Users/john-davidwuarin/.rvm/gems/ruby-2.1.2@hydra/gems/sass-3.2.19/vendor/listen/lib/listen/adapter.rb:198:in `call'
/Users/john-davidwuarin/.rvm/gems/ruby-2.1.2@hydra/gems/sass-3.2.19/vendor/listen/lib/listen/adapter.rb:198:in `report_changes'
/Users/john-davidwuarin/.rvm/gems/ruby-2.1.2@hydra/gems/sass-3.2.19/vendor/listen/lib/listen/adapter.rb:210:in `poll_changed_dirs'
/Users/john-davidwuarin/.rvm/gems/ruby-2.1.2@hydra/gems/sass-3.2.19/vendor/listen/lib/listen/adapters/darwin.rb:38:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: bootstrap-sprockets.\A               Load paths:\A                 /Users/john-davidwuarin/Dropbox/Workspace_Ruby/hydra\A                 /Users/john-davidwuarin/Dropbox/Workspace_Ruby/hydra/app/assets/stylesheets\A         on line 1 of app/assets/stylesheets/custom.css.scss\A \A 1: @import \"bootstrap-sprockets\";\A 2: @import \"bootstrap\";\A 3: @import \"font-awesome\";\A 4: \A 5: $nav-row-height: 4em;\A 6: $color1: rgba(8,17,27,1);"; }
