<div class="container">
  <div class="stage2">

    <% context[:matches].each do |match| %>


      <%= render 'lwc_semi_final_match', 
          match: match, context: context %>

    <% end %>

    <%= javascript_include_tag "quarter_final", "data-turbolinks-track" => true %>

  </div>
</div>