

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>

    <% if provider.to_s == "facebook" %>

      <div class="signin-facebook-button">

        <%= link_to omniauth_authorize_path(resource_name, provider),
            :class => "btn btn-block btn-social btn-facebook",
            :onclick => "_gaq.push(['_trackEvent', 'btn-social',
                        'click', 'btn-facebook']);" do %>

          <i class="fa fa-facebook"></i>
          <%= "#{provider.to_s} login" %>

        <% end %><br />
      </div>

    <% end %>

  <% end -%>
<% end -%>

<h3 class="signin-or"> OR </h3>