<div class="container">
    <div class="Header">
      <%= link_to tournament_round_matches_path(round.tournament, round),
          style: "text-decoration: none" do %>
        <h3>Stage <%= round.round_type %>:
            <%= get_round_info round, key_name: "name" %></h3>
      <% end %>
    </div>
</div>

<% if context[:round] %>

  <% if round == context[:round] %>

    <%= render '/matches/' + get_round_info(round,
               key_name: "matches_partial_name"),
               context: context %>

  <% end %>

<% end %>