<div class="space">
</div>

<div class="container">
  <div class="table-responsive">
    <table class="table">
     <div class="ladder">
      <thead>
        <tr>
          <th>Ranking</th>
          <th>Username</th>
          <th>Points</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Tomaso123</td>
          <td>1200</td>
        </tr>
        <tr>
          <td>2</td>
          <td>JD123</td>
          <td>1000</td>
        </tr>
        <tr>
          <td>3</td>
          <td>FN4TICFTW</td>
          <td>700</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Antoinedu74</td>
          <td>700</td>
        </tr>
        <tr>
          <td>5</td>
          <td>Fakerzz</td>
          <td>300</td>
        </tr>
        <tr>
          <td>6</td>
          <td>Tom007</td>
          <td>200</td>
        </tr>
      </tbody>
     </div>
    </table>
  </div>
</div>
