<div class = "container">
    <div class="Header">
    <a href ="#"><h3>Stage 1 : Group Stage</h3></a>
</div>

<div class = "container">
    <div class="Header">
    <a href ="#"><h3>Stage 2 : Quarter Finals</h3></a>
</div>

<div class = "container">
    <div class="Header">
    <a href ="#"><h3>Stage 3 : Semi Finals</h3></a>
</div>

<div class = "container">
    <div class="Header">
    <a href ="#"><h3>Stage 4 : Final</h3></a>
</div>