
<% if @tournament.rounds.any? %>

  <% @rounds.each do |round| %>
    <div class="container">
    <%= render round %>

    <% if @round_type_to_show == round.round_type.to_s %>

        <% round.matches.each_with_index do |match, index| %>

          <% if index.modulo(2) == 0 %>

            <div class="matches-line">
              <div class="row">

                <%= render 'matches/' + get_round_info(round,
                           key_name: "matches_partial_name"),
                           match: match %>

                  <div class="col-md-2">
                  </div>

                  <% if index < round.matches.count - 1 %>

                    <%= render 'matches/' + get_round_info(round,
                               key_name: "matches_partial_name"),
                               match: round.matches[index+1] %>
                  <% end %>

              </div>
            </div>
           <% end %>

      <% end %>
    <% end %>


    </div>
  <% end %>


<% else %>

  <% redirect_to root_path %>

<% end %>