
<% if @tournament.rounds.any? %>

  <% @rounds.each do |round| %>
    <div class="container">
    <%= render round %>

    <% if @round_type_to_show == round.round_type.to_s %>
      
        <% round.matches.each do |match| %>

          
            <div class="matches-line">
              <div class="row">

                <%= render 'matches/' + get_round_info(round,
                           key_name: "matches_partial_name"),
                           match: match %>




              </div>
            </div>



      <% end %>
    <% end %>


    </div>
  <% end %>


<% else %>

  <% redirect_to root_path %>

<% end %>