<h2>New Post</h2>
<form>
  <p>Prediction Type:<br/> {{input value=predictionType}}</p>
  <p>Contestant Id:<br/> {{input value=predictedContestantId}}</p>
  <p><button {{action "createUserRoundPrediction"}}>Create</button></p>
</form>