<% provide(:title, 'Home') %>

<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="mainpage">
        <div class="col-md-5">
          <h1>Predict game outcomes, be part of the Action</h1>
          <h3>Be part of the League of Legends World Cup prediction
            competition and win cool prizes!
          </h3>
        </div>
      </div>
      <div class="col-md-2">
        <%= link_to "Get Started", tournaments_latest_path, 
        :type => "button", :class => "btn btn-default" %>
      </div>
      <div class="col-md-5">
        <div class="news">
          <h1>Live now :</h1>
          <img class="img-responsive" src="/assets/logo_worlds_lol.png"></img>
        </div>
      </div>
    </div>
  </div>
</div>