<% provide(:title, 'Home') %>

<div class="container">

  <div class="jumbotron" 
  style="background-image:url(/assets/background_splash_page.jpg); 
  background-size: 100% 100%">

    <div class="row">
      <div class="col-md-5">
        <h1>Predict game outcomes, be part of the Action</h1>
      </div>
    </div>

    <center>
      <a class="btn btn-default" href="/tournaments/2">Get Started</a>
    </center>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
    <h2>Compete Worldwide</h2>
    <p>Predict outcomes of the League of Legends world cup and
       become part of a worlwide competition</p>
    </div>

    <div class="col-md-6">
      <img class="img-responsive" src="/assets/splash_image_1.png";>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img class="img-responsive" src="/assets/splash_image_2.png";>
    </div>

    <div class="col-md-6">
      <h2>Dive into eSports</h2>
      <p>Who will win? Who will score the First Blood? 
         Test your knowledge of the game and get to the top of the ladder</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
    <h2>Share your vision</h2>
    <p>Predicting is not luck, explain your vision and
       discuss about it through discussion threads</p>
    </div>

    <div class="col-md-6">
      <img class="img-responsive" src="/assets/splash_image_3.png";>
    </div>
  </div>
</div>

<div class="container">
  <div class="bottom-button">
    <a class="btn btn-default" href="/tournaments/2">Get Started</a>
  </div>
</div>