<div class="match-done">
  <table class="table no-status" frame="box">
    <thead>
      <tr>
        <th class="Big" colspan="2"></th>
        <th colspan="2">VS</th>
        <th class="Big"colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <th class="Logo-static"colspan="3"><a>
          <img src="/assets/closed.png";></a>
        </th>
        <th class="Logo-static" colspan="3"><a>
          <img src="/assets/nothing.png"></a>
        </th>
      </tr>
      
    </tbody>
  </table>
</div>