<div class="container">
  <div class="stage2">

    <% context[:matches].each do |match| %>


      <% if match.date >= DateTime.now %>

        <%= render '/matches/lwc_quarter_final_match/open',
            match: match, context: context %>

      <% else %>

        <%= render '/matches/lwc_quarter_final_match/closed',
            match: match, context: context %>

      <% end %>

    <% end %>

    <%= javascript_include_tag "quarter_final", "data-turbolinks-track" => true %>

  </div>
</div>


