<div class="navbar navbar-default navbar-static-top">

  <a href="/" class="navbar-brand"> Sugarglider </a>

  <button class="navbar-toggle" 
          data-toggle="collapse" 
          data-target=".navHeaderCollapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>

  <div class="collapse navbar-collapse navHeaderCollapse">

    <ul class="nav navbar-nav navbar-right indent-right=10px">

      <li><a href="/users/sign_up">SIGN UP</a></li>

    </ul>
  </div>

</div>

{{outlet}}