<nav class="navbar navbar-default navbar-fixed-top" role="navigation">

    <a href="#" class="left-content-area"></img><h1>IGOTDIS</h1></a>
    <a href="#" class="left-content-logo"><img src="assets/monsterlogo.png"></a>
    <div class="right-content-area">
    <ul>
      <a href="#"><li>My Profile</li></a>
      <button {{action 'showModal' 'authentication-modal' 'login'}}>Login</button>
      <button {{action 'showModal' 'authentication-modal' 'signup'}}>Sign up</button>
    </ul>
    </div>

</nav>

<nav class="leftbar leftbar-fixed-left" role="navigation">
  <div class="top-content-area">
    <ul>
      {{#link-to 'tournaments'}}
        <li class="left-bar-menu">
          <img src="assets/tournament.png"></img>TOURNAMENTS
        </li>
      {{/link-to}}
      <a href="#"><li class="toggle-down"><p>LCS EU</p></li></a>
      <a href="#"><li class="toggle-down"><p>LCS NA</p></li></a>
      <a href="#"><li class="toggle-down"><p>GPL</p></li></a>
      <a href="#"><li class="toggle-down"><p>IGN</p></li></a>

      <a href="#"><li><img src="assets/predictions3.png"></img>MY PREDICTIONS</li></a>
      <a href="#"><li><img src="assets/ranking.png"></img>RANKING</li></a>
    </ul>
  </div>
</nav>


{{outlet}}
{{outlet modal}}