// @import "bootstrap-sprockets";
// @import "bootstrap";
// @import "font-awesome";

$nav-row-height: 4em;
$color1: rgba(8,17,27,1);
$color2: rgba(46, 57, 67, 1);
$color3: #536778;

body {
	margin: 0 0 0 0;
	font-family: 'Jockey One';
	width:800px;
}

a {
	text-decoration: none;
	color: white;
}

.splash-background {
	position:relative;
	width:100%;
	height:100%;

	.dota2:hover {
		opacity:1;
	}

	.lol:hover {
		opacity: 1;
	}

	.dota2 {
		position: absolute;
		top: 0;
		left: 0;
		width:100%;
		height:100%;
		opacity: 0.8;
	}

	.lol {
		position:absolute;
		top: 0;
		left: 360px;
		width:100%;
		height:100%;
		opacity: 0.8;
	}

}

/* NAVBAR */

.navbar {
	position: fixed;
	width: 100%;
	height: $nav-row-height;
	left: 0;
	z-index: 2;
	color: white;
	background: #00182D;
	background-image: -o-linear-gradient(-89deg, rgba(112,112,112,0.50) 0%, rgba(0,0,0,0.50) 100%);
	background-image: -moz-linear-gradient(-89deg, rgba(112,112,112,0.50) 0%, rgba(0,0,0,0.50) 100%);
	background-image: -ms-linear-gradient(-89deg, rgba(112,112,112,0.50) 0%, rgba(0,0,0,0.50) 100%);
	background-image: linear-gradient(-179deg, rgba(112,112,112,0.50) 0%, rgba(0,0,0,0.50) 100%);

		h1, h2 {
			margin-top:15px;
			margin-left: 35px;
			position:absolute
		}



	    .left-content-area {
		overflow: hidden;
		width: 20%;
		height: $nav-row-height;
		position: absolute;
		left: 0;
		bottom: 0;
		margin-left: 80px;
		display: inline;
		}

		.left-content-logo {
		position: absolute;
		padding-left:45px;
		padding-top:8px;


		}

		.right-content-area {
		overflow: hidden;
		float: right;
		width: 80%;
		margin-right: -50%;
		height: 64px;

		a {
			display: inline-block;
			height: 64px;
			border-radius:15px;


		}

		a:hover {
		background-color:rgba(24,35,46,0.5);


		}
	}

		.right-content-area ul li {
		display: inline;
		padding-left: 15px;
		padding-right: 15px;
	}

		li {
			border-left:2px solid black;
			line-height: 50px;

		}

		ul {
			margin:0;
			margin-top: 7px;
		}

}

/* LEFTBAR */

.leftbar {
	position: fixed;
	width: 250px;
	height: 100%;
	z-index: 1;
	background-color: $color2;
	padding-top: 0;
	border-color: 1px solid black;
	margin-top:$nav-row-height;

	.toggle-down {
		display: block;
		line-height: 30px;
		visibility: normal; /* set to hidden */
		margin-top: 0px; /* set to -58 */
		z-index: 0; /* set to 10 */


		p {
			padding-left:45px;
			margin-top:-15px;
			margin-bottom:0px;
			line-height: 30px;
		}

		li {
			padding-top:0px;
		}


	}


	li {
			padding-bottom: 5px;
			list-style-type: none;
			border-bottom: 1px solid black;
			width:100%;
			line-height:60px;
			margin-top:-20px;
		}

	ul {
		padding-left:0;
		margin: 0;
	}

	a {
		padding-left:20%;
		height: 50px;
	}

	li:hover {
		background-color:rgba(24,35,46,0.5);
	}

	img {
		padding-left:45px;
		padding-right:5%;
		margin-bottom: -9px;
	}

}

/* CONTENT */

.content {
	position: fixed;
	margin-left: 250px;
	margin-top:52px;
	background-color:black;
	background-image:url('../images/amumu.jpg');
	background-repeat:no-repeat;
	background-size:contain;
	height:100%;
	width:100%;

	.profile {
		margin-top:4em;
		margin-left: 4em;
		margin-right: 80px;
		margin-bottom: 80px;
		background-color:rgba(151,151,151,0.8);
		border-radius:10px;
		height: 75%;
		width: 75%;

		.profile-head {
			height: 150px;
			width: 100%;

			table {
				padding-left:40px;
				padding-top:40px;
				padding-right:40px;
				width: 100%;

			}


			.profile-picture {
				display: inline-block;


			}

			.profile-title {
				margin-left:-20px;

				h1,h2,h3 {
					margin: 0 0 0 0;
					color: white;
				}
			}

			.profile-menu {
				padding-top:10px;
			table {
				padding-top:40px;
				width: 100%;
				}

				td {
					color: white;
					width: 20%;
					height: 40px;
					text-align: center;
					background-color:$color2;
					a {
						display: block;
						width: 100%;
						height: 100%;
						padding-top:9px;
					}
				}

				td:hover {
					background-color:$color1;
				}

				td .active {
					background-color:$color1;
				}
			}
		}

		.profile-body {
				margin-top: $nav-row-height;
				margin-bottom: 30px;
				margin-left:42px;
				margin-right:42px;
				background-color:white;

			.profile-predictions {
				display: block;
				overflow-y : scroll;
				height: 290px;


				table {
					width: 100%;
					border-collapse:collapse;
					height: 150px;


				}

				tbody {
					max-height: 200px;
				}

				tr {
					overflow-y: scroll;
					color:white;
					height: 45px;
					text-align: center;
					border-bottom: 1px solid white;
					border-top: 1px solid white;


					a:hover {
					text-decoration: underline;

				}
					}

					.win {
						background-color:#4ABA70;
					}

					.lose {
						background-color:#BA4A4A;
					}

					.instructions {
						background-color:$color1;

					}
				

			}

			.profile-profile {
				height: 290px;

				.new-group-button {
					background-color:$color1;
					padding-left:1em;
					padding-top:1em;

					a {
						display: inline-block;
						background-color:$color2;
						padding: 2px 4px 2px 4px;
						border-radius: 3px;
					}

					a:hover {
						color:$color1;
					}
				}

				table {
					width: 100%;
					background-color:$color1;
				}
				tr {
					text-align: left;
					height: 45px;
					border-top:1px solid black;
					border-bottom:1px solid black;
					font-size: 20px;
				}

				td {
					padding-left:2em;
					padding-top:1em;
				}

			}

			.profile-groups {
				display: block;
				overflow-y : scroll;
				height: 290px;



				.new-group-button {
					background-color:$color1;
					padding-left:1.6em;
					padding-top:1.3em;

					a {
						display: inline-block;
						background-color:$color2;
						padding: 2px 4px 2px 4px;
						border-radius: 3px;
					}

					a:hover {
						color:$color1;
					}
				}

				table {
					width: 100%;
					background-color: $color1;
					padding-top:1em;
					padding-left: 1em;
					padding-right: 1em;
					border-spacing : 10px;

					.group {
						background-color: $color2;
					}

					td {

						float: left;
						line-height:10px;
						display: inline-block;
						color:white;
						list-style-type: none;

					}

					a:hover {
						text-decoration: underline;
					}

					img {
						float: left;
					}
				}
			}


		}
	}




}



