@import "bootstrap-sprockets";
@import "bootstrap";


/* Nav-Bar*/

/* Nav-Bar Back*/


body {
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: black;


}

.Group_A .btn.active {
    background-color: #cc6600;
    color: white;
    border: none;
} 

.btn:active {
    color: white;
    background-color: #cc6600;
    border: none;
}
.space {
    height: 3.5em;
}

.logo {max-height: 1.4em;
    }

.navbar {
    background-color: white;
    border-color: white;
}

.mainpage .col-md-5 {
    margin-top: 4em;
}



/* Nav-Bar Logo */

.navbar .navbar-brand {
    color: black;

}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: black;
  background-color: transparent;
}

/* Nav-Bar Text */

.navbar a {
    color: black;
}

.navbar .navbar-nav > li > a {
    color:black;
    font-size: 1.5em;
    font-family:'Jockey One',sans-serif;
}

h3 {
    font-family: 'Jockey One' ,sans-serif;
}


.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
    background-color: white ;
    color: #cc6600}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: black;
  background-color: transparent;
}

/* Nav-Bar Toggle */

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: white;
  background-color: #cc6600;
}

.navbar-toggle {
    background-color: #cc6600}

/*JUMBOTRON*/

/*Background Image*/
.jumbotron {
    height: 32em;
    background-repeat: no-repeat;
    background-color: transparent;


}

.container .jumbotron {
    border-radius: 0px;
    background-color: transparent;
    height: 45em;
    padding-left: 0px;
}


/*Responsive Jumbo */
@media screen and (min-width: 0px) and (max-width: 480px) {
    .container .jumbotron {
        height: 20em;
    }
    h1 {
        font-size: 30px;
    }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
    .container .jumbotron {
        height:25em;
    }
    h1 {
        font-size: 35px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .container .jumbotron {
        height:30em;
    }
    .jumbotron h1 {
        font-size: 40px;
    }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
    .container .jumbotron {
        height:35em;
    }
    .jumbotron h1 {
        font-size: 45px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 2000px) {

    .jumbotron h1 {
        font-size: 45px;
    }
}



/* H1 txt */

.jumbotron h1 {
    color: white;
    padding-top: 0em;
    border-bottom: auto;
    font-family: 'Jockey One' ;
    text-align: center;
    
    
}

.jumbotron .img-responsive {
    padding-left: 3.7em;
    padding-right: 3.7em;
}

.news h1 {
    padding-top: 2em;
    font-size: 3.4em;
}

.news .img-responsive {
    opacity: 0.7;
}

/* Get Started */

.btn {
    background-color:white;
    color: black; 

    border-radius: 0px;
    font-family: 'Jockey One';
    margin-right: 1em;
    margin-left: 1em;
    font-size: 20px;
    border: 1px solid;


}


.navbar .mypoints {
    color: green;
}

.signin {
    margin-top: 10em;
    font-family: 'Jockey One';
    color: white;
    background-color: rgba(245, 245, 245, 0.4);
    text-align: center;
    width: 40em;
    margin:auto;
    height: 30em;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.signin h2 {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 3em;
}

.signin p {
    font-size: 1.5em;
    margin-bottom: 0.3em;

}


.signin .box {
    background-color: rgba(245, 245, 245, 1);
    margin-bottom: 1em;
    color: black;
    width: 12em;
}

.alert-notice {
    color:white;
    height: 2em;
    border-radius:0px;
    background-color: rgba(0, 255, 0, 0.3);
    text-align: center;
    font-family: 'Jockey One';
    padding:10px 10px 10px 36px;
    margin-left: 6em;
    margin-right: 6em;
    margin-top: -36em;

}

.signin .btn {
    background-color: #cc6600;
    color: white;
    border: none;
    margin-top: 1.3em;
}

.submitmatch {
    text-align: center;
}

.submitmatch .btn {

margin-top:-1em;
}


.col-md-2 .btn {
    margin-top: 24em;
}

.col-md-12 {
    text-align: center;
}

.center {
    text-align: center;
    padding-top: 1em;
}


.col-md-12 h1 {
    font-size: 3.5em;
}


.rulescolumns .col-md-6 {
    height: 18em;
    padding-top: 1em;
    display: block;

}

.rulescolumns .col-md-6 h1 {
    font-family: 'Jockey One';
    font-size: 2.5em;
    color: black;
    margin-top: 2.6em;
    margin-left: 3em;
}

.rulescolumns .col-md-6 .img-responsive {
    max-height: 100%;
    max-width:100%;
    margin-top: -1em;
    margin-left: 3em;
}

.rulescolumns {
    background-color: rgba(245, 245, 245, 0.8);
    margin-top: 5em;
    padding-top: 0.6em;
}

.headerrules h1 {
    height: 2em;
    font-family: 'Jockey One';
    text-align: center;
    font-size: 4em;
}

.gotit {
text-align: center;
height: 8em;
margin-bottom: 2em;
}




/* Ladder */

.table-responsive {
    margin: 40px 8.48056537%
}

.ladder thead {
    text-align: left;
}

/* Stage 1 */


.container .Header {
    border-radius: 0px;
}


.Header {
    background-color: #cc6600;
    color: white;
    font-family: 'Jockey One';
    height: 4em;
    border-radius: 0px;
}

.Header h3 {
    padding-top: 0.7em;
    padding-bottom: auto;
    padding-left: 1em;
    color: white;
}

.Group_A {
    height: 8em;
    text-align: center;
    vertical-align: middle;
    padding-top: 2.2em;
    margin-bottom: -2em;
}





/* CSS for a Stage 1 Line */


.col-md-4 {
    margin-top: 2em;
}

.matches-line .col-md-5 {
    height: 15em;
    font-family: 'Jockey One';
    font-size: 1.2em;

}


.col-md-5 .news {
    text-align: center;
    margin-top: 4em;
}

.col-md-2 {
    height: 5em;
}

.centering {
    float: none;
    vertical-align: top;
}

.table {
    background-color: rgba(245, 245, 245, 0.7);
    font-family: 'Jockey One'

}

.img-responsive th {
    background-color: rgba(245, 245, 245, 0.3)
}


.table th {
    text-align: center;
    font-family: 'Jockey One'
}

.table-responsive th {
    text-align: left;
}

.Big {
    width: 5em;
}

.container .explanation h3 {
    color: white;
    text-align: center;
    font-size: 3em;
}


.table .Logo {
    border: 1px solid;
    background-color: transparent;

}

.table .score {
    border: 1px solid;
    height: 2em;
}



.table .Logo:hover {
    background-color: #cc6600;
    cursor: pointer;
    cursor: hand;
}

.table .Logo.active {
    background-color: #cc6600;
}



.img-responsive {
    display: inline;
}

/* how does it work div */

.rules {
    background-color: rgba(245, 245, 245, 0.8);
    margin-top: 6em;
    height: 60em; 
    margin-bottom: 2em;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 0.7em;
    font-family: 'Jockey One';
}

.rules .btn {
margin-left: 40%;
margin-right: auto;
margin-top: 1em;
}



.predictionrule {
    color: #cc6600;
}




