
<th class="firstblood-static" colspan="3">
  <%= content_tag :div, t_contestant.id.to_s,
    hidden: true, class: "contestant" %>
  <img class="swordlogo" src= <%= asset_path("sword.png") %> >
  <p>Most First Bloods</p>
</th>