<h2>Edit Round Prediction</h2>
<form>
  <p>Prediction Type:<br/> {{input valueBinding='predictionType'}}</p>
  <p>Contestant Id:<br/>  {{input valueBinding='predictedContestantId'}}</p>
  <p><button {{action "updateUserRoundPrediction"}}>Update</button></p>
</form>